[development.database]
username=root
schema=database_development
host=127.0.0.1
dialect=mysql

[development.redis]
host=127.0.0.1
port=6379

[test.database]
username=root
host=127.0.0.1
dialect=sqlite
storage=:memory:
logging=false

[test.redis]
host=127.0.0.1
port=6379
